<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="formengine-field-item t3js-formengine-field-item">
    <div class="form-control-wrap">
        <div class="form-wizards-wrap">
            <div class="form-wizards-element">
                <div class="input-group">
                    <input type="text" {attributes -> f:format.html()}>
                    <input name="{name}" type="hidden" value="{value}">
                    <span class="input-group-btn">
                        <label class="btn btn-default" for="{id}" id="{id}-label">
                            {icon -> f:format.html()}
                        </label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    requirejs(['TYPO3/CMS/TkComposerServer/backend.min'], function(ComposerServer) {/*<f:comment></f:comment>*/
        ComposerServer.generatePassword('{id}');
    });
</script>
