<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Frontend" />

<f:section name="Main">
    <f:render arguments="{_all}" partial="Frontend/Header" />
    <f:render arguments="{_all}" partial="Frontend/Login" />

    <f:if condition="{loginError}">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        Wrong login credentials!
                    </div>
                </div>
            </div>
        </div>
    </f:if>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2>Packages</h2>

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <span aria-hidden="true" class="bi bi-search"></span>
                    </span>
                    <input aria-label="Enter package name to filter list of packages"
                            autofocus
                            class="form-control"
                            id="filter"
                            placeholder="Package name">
                </div>
                <hr>

                <div id="packages">
                    <f:if condition="{packages}">
                        <f:then>
                            <f:for as="package" each="{packages}">
                                <f:render arguments="{package: package}" partial="Frontend/Packages/Package" />
                            </f:for>
                        </f:then>
                        <f:else>
                            <div class="alert alert-warning" role="alert">
                                No packages available.
                            </div>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </div>

    <f:render arguments="{_all}" partial="Frontend/Footer" />
</f:section>
